.content{
    max-width: 90%;
}
#room header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

#room header .buttons{
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: 0.8rem;
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2){
    padding: 1.3rem 3.2rem;
    
}

#room header .buttons .button:nth-child(2) img{
    width: 2rem;
    height: 2rem;
}

/*****QUESTION FORM*****/
#question-form h2{
    font-family: "poppins", sans-serif;
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 700;
    line-height: 4.2rem;

    margin-bottom: 2.4rem;
}


#question-form form{
    border: 0.2rem solid var (--grey-blue);
    padding: 1.6rem;
    
}